body{
    background-color: rgb(208, 231, 240);
}
h1{
    color: #66bfbf;
}
h1:hover{
    background-color: wheat;
}
h3{
    color: #66bfbf;
}
h3:hover{
    background-color: #0c1438;
}
img:hover{
    background-color: #0c1438;
}